#everything {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundThanks {
  width: fit-content;
  height: 50px;
  /* border: 2px solid red; */
  cursor: pointer;
}


#imageAndInfo {
  background-color: rgba(255, 255, 255, 0.8);
}

#workExperience {
  background-color: rgba(255,255,255, 0.8);
}

#educationInfo {
  background-color: rgba(255,255,255, 0.8);
}

#smilesJpg {
  display: flex;
  margin: auto;
  width: fit-content;
}

.imageSmile {
  width: fit-content;
}

.typingEffect {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(40, end);
  animation-fill-mode: forwards;
  width: fit-content;
}

.socialIcons > i {
  padding: 15px;
  font-size: xx-large;
}

@keyframes typing {
  from { width: 0px; }
  to { width: 100% }
}

.text {
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
}

#footerId {
  display: flex;
}

#findmeAt {
  margin: auto;
  width: fit-content;
  /* border: 2px solid red; */
}