#everything {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#imageBy {
  width: fit-content;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 45%;
  background-color: rgba(177, 177, 231, 0.5);
  border: none;
  padding: auto;
}

#smilesJpg {
  display: flex;
  margin: auto;
  width: fit-content;
}

.imageSmile {
  width: fit-content;
}

.typingEffect {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(40, end);
  animation-fill-mode: forwards;
  width: fit-content;
}

@keyframes typing {
  from { width: 0px; }
  to { width: 100% }
}

.text {
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
}
